// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    font-family: "Work Sans", sans-serif;
}

.hide {
    display: none;
}

/* COMMON CSS CLASS FOr Use Multiple time */
.gray-text {
    color: rgb(114, 114, 114);
}

.features ,
.sponsor {
    margin-top: 150px;
}

.para-sponsor,
footer {
    text-align: center;

}
h1{
    font-size: 3rem;
}

/* here from now header section */
header {
    background: rgb(252, 238, 216);
    padding: 50px 240px;
}

ul>li {
    display: inline;
    margin-right: 50px;
}

li>a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Banner's text area  */
.banar-container {
    text-align: center;
    max-width: 800px;
    margin: 10px auto;
}

.btn-primary {
    color: white;
    background: tomato;
    font-size: 1.5rm;
    border: 0;
    border-radius: 5px;
    height: 50px;

}

.banner-img img {
    /* height: 100%; */
    width: 100%;

}

/* second part of this web site. */
main,
footer {
    margin: 50px 250px;

}

/* 4 images in the container */
.list-section {
    display: flex;
    /* justify-content: space-around; */
}

.main-grid-img {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

/* Features text color & paragraph */
.text-container {
    margin-left: 50px;
    width: 60%;
    margin-top: 200px;
}

.fet-h1 {
    color: rgba(255, 161, 28, 0.945);
}

/* FOR Third row this side With Bid IMG */
.second-container {
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    height: 100%;
    gap: 50px;
}

.design-left{
    border-left: 5px solid #ff900E;
   padding-left: 30px;
}
.border-background {
    padding: 20px;
    border-radius: 10px;
    /* border: 5px solid gray; */
    margin-top: 10px;
    background: #fff;
    box-shadow: 0px 4px 30px 2px gainsboro;
}
.ten-years-btn{
    background-color: #ff900E;
    color: #fff;
    border-radius: 9px;
    padding: 20px;
    width: 280px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-btn > h5{
    font-size: 2.8rem;
    margin: 0;
}
.ten-years-btn > p{
    font-size: 1.2rem;
}
.four-container-img> img{
    height: 90%;
    margin-left: 60px;

}
/* 5th Some Facts of Some Reward Section */
.facts {
    /* margin-top: 400px; */
    width: 500px;
}

.rewards, .logo {
    display: flex;
    padding: 20px;
    margin: 50px auto;
    justify-content:space-around;
    text-align: center;

}
.rewards-container > img, .rewards-container > h2{
     margin-top: 15px;
     
}
.rewards-container {
    border: 2px solid orange;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

    /* fOOTER section */
footer {
    margin-top: 100px;
    background: rgb(252, 238, 216);
    padding: 50px;
}

/* MEDIA QUEARY SECTION */

/* for small device */

@media screen and (max-width:576px) {

    .nav-bar,
    .list-section,
    .second-container,
    .text-container,
    .rewards, .logo {
        flex-direction: column;
    }
    ul>li{
       margin-right: 10px;
    }
    .four-container-img> img{
        width: 100%;
        margin: 5px;
    }
    .ten-years-btn{
        position: static;
        width: 250px;
    }
    .text-container {
        margin: 20px;
    }
    .facts {
        margin-top:20px;
        width: 380px;
    }
    .main-grid-img {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .rewards-container, .logo{
        height: 100%;
        width: 100%;
        padding: 10px;
        margin: 5px;
    }
    header,
    footer {
        padding: 10px;
    }

    main, .logo {
        margin: 20px;
    }

    footer {
        margin: 25px;
        text-align: left;
        padding: 20px;
    }

}

/* for medium device or tablet */

@media screen and (min-width:576px) and (max-width:990px) {

    .nav-bar,
    .list-section,
    .second-container,
    .text-container {
        flex-direction: column;
    }

    .text-container {
        margin: 40px;
    }

    .main-grid-img {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    header {
        padding: 30px;
    }

    main, ul>li {
        margin: 20px;
    }

    footer {
        margin: 30px;
        text-align: left;
    }
}

/* Laptop device */

@media screen and (min-width:990px) and (max-width:1200px) {

    .nav-bar,
    .list-section,
    .text-container {
        flex-direction: column;
    }

    .text-container {
        margin: 40px;
    }

    .main-grid-img {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    header {
        padding: 30px;
    }

    main {
        margin: 20px;
    }
}